html {
    height: 100%;
    overflow: auto;
}

body {
  background: rgb(246, 246, 246);
  min-height: 100%;
}

* {
  font-family: NewFont, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100%;
}