html {
  height: fit-content;
  min-height: 100%;
}

body {
  background: rgb(246, 246, 246);
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  min-height: 100%;
}

#__nuxt, #__layout, #__layout > .el-scrollbar {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.el-scrollbar .el-scrollbar__wrap {
  overflow-x: hidden;
}

.el-scrollbar__thumb {
  background-color: rgba(144,147,153,.7) !important;
}

.el-link {
  transition: 0.3s;
}

.nuxtlink {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    outline: 0;
    padding: 0;
    color: #409EFF;
    font-weight: 500;
    font-size: 14px;
    transition: 0.3s;
}

.nuxtlink:hover {
    color: #66b1ff;
}

.black-link {
  color: #3e3e3e;
}

.black-link:hover {
  color: #818181;
}

.katex-block {
  overflow-x: auto;
}

@media screen and (max-width: 800px) {
  .el-main {
    padding: 0 !important;
    margin: 0 !important;
  }
}
