html {
  height: fit-content;
  min-height: 100%;
}

body {
  background: rgb(246, 246, 246);
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: NewFont, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100%;
}

#__nuxt, #__layout, .el-scrollbar {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.el-scrollbar .el-scrollbar__wrap {
  overflow-x: hidden;
}

.el-scrollbar__thumb {
  background-color: rgba(144,147,153,.9) !important;
}